.godot/
.import/
export_presets.cfg
*.translation
*.tmp
*.log
*.blend1
*.blend2
*.uid
.vscode/browse.vc.db
.vscode/browse.vc.db-shm
.vscode/browse.vc.db-wal
.DS_Store
Thumbs.db
docs/מטלת בית – פיתוח סימולציה משחק רכב אורבני.pdf
docs/images/*.import
